/* styles/footer.css */
.footer {
  background-color: black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-bottom: 20px;
}

.footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
}

.footer-social a:hover {
  transform: scale(2);
}

.footer-credit {
  font-size: 14px;
  margin-top: 10px;
}
