.edit {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: green;
  margin: 5px;
  padding-top: 0px;
}

.delete {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: red;
  margin: 5px;
  padding-top: 0px;
}

.bttn {
  display: flex;
  justify-content: space-around;
}

button {
  font-size: 15px;
}

table {
  row-gap: 2px;
  margin: 0 auto;
}

table,
th,
tbody,
thead,
td,
tr {
  text-align: center;
}

.allBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.allBtn button {
  padding: 0px 15px;
  height: 50px;
  width: 200px;
}

tr:nth-child(even) {
  background-color: rgb(210, 207, 204);
}

tr {
  margin-bottom: 5px;
}

tr:nth-child(odd) {
  background-color: rgb(188, 159, 255);
}

th {
  background-color: black;
  color: white;
  margin-top: 20px;
}

tr:hover {
  border: 2px solid rgb(0, 0, 0);
}
