@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.body {
  font-family: "Jost", sans-serif;
}

input {
  margin-bottom: 0px;
}

.loading {
  color: green;
}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:disabled {
  background-color: #cccccc;
}

.error {
  color: red;
  font-size: 0.875em;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
